/*
*/
/* ============================================
    Ap-Canvas
   ============================================ */
img.holder.gl-canvas-container,
canvas.gl-canvas-container
{
  z-index: 0;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px;
  margin: 0px;
}
canvas.gl-canvas-container,
canvas.gl-canvas-container.gl-loading{
  -webkit-transition: all 0.5s cubic-bezier(0.09, 0.68, 0, 0.99);
     -moz-transition: all 0.5s cubic-bezier(0.09, 0.68, 0, 0.99);
      -ms-transition: all 0.5s cubic-bezier(0.09, 0.68, 0, 0.99);
       -o-transition: all 0.5s cubic-bezier(0.09, 0.68, 0, 0.99);
          transition: all 0.5s cubic-bezier(0.09, 0.68, 0, 0.99);
}
canvas.gl-canvas-container.gl-loading{
  opacity: 0.5;
  -webkit-transform: scale(0.5);
     -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
       -o-transform: scale(0.5);
          transform: scale(0.5);
}
canvas.gl-canvas-container.gl-rendering{
  opacity: 0.5;
}


/* ============================================
    Ap-Sliders
   ============================================ */
#apwgl-slider {
    /* font-family: Helvetiker; */
    position: absolute;
    top: 0px;
    left:0;
    z-index: 1002;
}


/* ============================================
    Ap-Menu
   ============================================ */
.apwgl-menu {
    /* font-family: Helvetiker; */
    position: absolute;
    top: 0px;
    right:0;
    border: papayawhip dotted 1px;
    list-style: none;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 00px 0px 0px 00px;
    box-shadow: 0px 0px 33px -4px rgb(0, 50, 155);
    z-index: 1000;
}
    #apwgl-stats{
    }
    #apwgl-stats #stats{
        margin-right: 25px;
        margin-bottom: 11px;
        margin-left: 24px;
        box-shadow: 0px 0px 8px 0px rgba(11, 206, 255, 0.5);

        display: block;
        float: right;
    }

    .apwgl-menu a:active,
    .apwgl-menu a:visited,
    .apwgl-menu a{
    	display: block;
    	margin: 10px;
    	border-bottom: #eee solid 1px;
    	text-decoration: none;
    	color: blue;
    	border: rgba(255,255,255,0.2);
    }


/* ============================================
    Credits
   ============================================ */
.apwgl-credit{
    margin: 17px;
}

.apwgl-credit .credit-title{
    border: #f0f0f0 solid 1px;
    display: block;
    padding: 19px;
    font-weight: bold;
}
.apwgl-credit a.credit-item{
    display: block;
    border-bottom: #f0f0f0 solid 1px;
    border-left: #f0f0f0 solid 1px;
    border-right: #f0f0f0 solid 1px;
    padding: 12px;

    -webkit-transition: background-color 0.4s;
}
.apwgl-credit a.credit-item:hover{
    background-color: #f2f2f2;
}

div.apwgl-footer{
    margin: 10px 20px;
    padding-bottom: 10px;
    /* border-bottom: red solid 1px; */
}


/* ============================================
    Angular Animations
   ============================================ */

.apwgl-container {
  z-index: 0;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px;
  margin: 0px;
}


.view-animate {
	z-index: 0;
	position:absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.view-animate.ng-enter,
.view-animate.ng-leave {
}

/*begin-enter*/
/*entering should be faster*/
.view-animate.ng-enter {
  -webkit-transition: all cubic-bezier(0.09, 0.68, 0, 0.99) 1s;
     -moz-transition: all cubic-bezier(0.09, 0.68, 0, 0.99) 1s;
      -ms-transition: all cubic-bezier(0.09, 0.68, 0, 0.99) 1s;
       -o-transition: all cubic-bezier(0.09, 0.68, 0, 0.99) 1s;
          transition: all cubic-bezier(0.09, 0.68, 0, 0.99) 1s;

  opacity: 0;
  -webkit-transform: translate3d(0,-100%,0);
     -moz-transform: translate3d(0,-100%,0);
      -ms-transform: translate3d(0,-100%,0);
       -o-transform: translate3d(0,-100%,0);
          transform: translate3d(0,-100%,0);
}
/*finish-enter*/
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
       -o-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
}

/*being-leave*/
/*leaving should be slower*/
.view-animate.ng-leave {
  display: none;
  -webkit-transition: all cubic-bezier(0.09, 0.68, 0, 0.99) 2s;
     -moz-transition: all cubic-bezier(0.09, 0.68, 0, 0.99) 2s;
      -ms-transition: all cubic-bezier(0.09, 0.68, 0, 0.99) 2s;
       -o-transition: all cubic-bezier(0.09, 0.68, 0, 0.99) 2s;
          transition: all cubic-bezier(0.09, 0.68, 0, 0.99) 2s;
  overflow: hidden;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
       -o-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
}
/*finish-leave*/
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(0,100%,0) scale(0.4);
     -moz-transform: translate3d(0,100%,0) scale(0.4);
      -ms-transform: translate3d(0,100%,0) scale(0.4);
       -o-transform: translate3d(0,100%,0) scale(0.4);
          transform: translate3d(0,100%,0) scale(0.4);
}




















/**/