//$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

//@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

//@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";

@import "../bower_components/normalize-css/normalize.css";

// bower:scss
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




